.banner {
  background: #0974c5;
  background-image: radial-gradient(rgba(255, 255, 255, 1) 0%, rgba(253, 253, 255, 1) 30%, rgba(9, 116, 197, 1) 80%);
  background-position: -750px -100px;
  background-size: 220% 500%;
  display: flex;
  font-size: 14px;
  height: 164px;
  padding: 0 0 3px;
}

div.container {
  background-color: #fff;
  border: 0;
  line-height: 150%;
  margin: auto;
  width: 738px;
}

div.header,
div.footer {
  clear: left;
}

div.left {
  float: left;
  margin: 0;
  padding: 1em;
  width: 160px;
}

div.content {
  background-color: #fff;
  border: 0;
  border-spacing: 0;
  margin: auto;
  margin-top: 15px;
  margin-left: 21px;
  margin-bottom: 15px;
  padding: 0;
  width: 94%;
}

body,
td,
th {
  font: 14px 'Open Sans', sans-serif;
}

body {
  background-color: #333;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  height: 1px;
  margin-right: .5em;
}

.why-box {
  background-color: #ececec;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
  padding-top: .2em;
}

.why-box > div:nth-child(1) {
  float: left;
  padding-right: 1em;
  width: 66%;
}

.why-box > div:nth-child(2) {
  padding-left: 0;
}

.why-box > div > ul {
  padding-left: 2em;
  text-indent: 0;
}

.dl-button {
  background-color: #ccc;
  border-radius: 3px;
  padding: .1em .4em;
}

.feature-box {
  background-color: #e6eff9;
  border-radius: 4px;
  height: 16em;
  margin-bottom: 1em;
  padding: .1em;
  padding-left: .4em;
}

.feature-box > div {
  padding-top: 0;
}

.feature-box > div > div {
  float: left;
  padding: 0 .5em;
  text-align: center;
  width: 14%;
}

.license-box {
  background-color: #e6eff9;
  border-radius: 4px;
  padding: .4em;
  margin-bottom: 1em;
}

.sshot {
  margin: auto;
  text-align: center;
}

.feature-icon {
  color: #444;
  display: block !important;
  font-size: 340% !important;
  margin-bottom: .2em;
}

.img-right {
  border: none;
  float: right;
  margin: 1em;
}

.trophy {
  color: #ffd700 !important;
}

.large-icon {
  color: #444;
  float: right;
  font-size: 425% !important;
}

.samples-list {
  color: #333;
  font-size: 180%;
}

.header {
  margin: 0;
  padding: 0;
}

.footer {
  background: #09397f;
  color: #ddd;
  font-size: 75%;
  height: 5em;
  padding: .1em 1em;
}

.footer div {
  float: left;
  padding-top: 1.3em;
  width: 33.3%;
}

.footer div:nth-child(1) {
  text-align: left;
}

.footer div:nth-child(2) {
  text-align: center;
}

.footer div:nth-child(3) {
  text-align: right;
}

.crew-layout > div:nth-child(1) {
  float: left;
  text-align: center;
  width: 75%;
}

.crew-layout > div:nth-child(2) {
  float: right;
  width: 23%;
}

.crew-content > div:nth-child(1) {
  background-color: #efefef;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 2px;
  padding-left: .6em;
}

.crew-content > div:nth-child(2) {
  background-color: #e3eef7;
  border-radius: 4px;
  padding: 2px;
  padding-left: .6em;
}

.list-bubble {
  background-color: #faffd2;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 18px;
  padding: 15px 15px .3em;
  width: 65%;
}

.bubble-alt {
  background-color: #c00000;
  color: #ddd;
  width: 96%;
}

.list-bubble div:nth-child(1) {
  float: left;
  font-size: 280%;
  padding-top: 15px;
}

.list-bubble div:nth-child(2) {
  overflow: hidden;
  padding-left: 1em;
}

.news > dl {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.news > dt {
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
}

.news dt {
  vertical-align: text-top;
}

.news > dd {
  float: left;
  margin: 0;
  padding: 0;
  width: 80%;
}

.news-full > dt {
  width: 7em;
}

.lower-box {
  margin: auto;
}

.news-box {
  float: left;
  padding-right: 14px;
  width: 68%;
}

.minisamples-box {
  background-color: #ececec;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 6px;
}

.minisamples > dl {
  margin: 0;
  padding: 0;
}

.minisamples > dt {
  float: left;
  margin: 0;
  padding: 0;
}

.minisamples dt a {
  font-weight: bold;
}

.minisamples > dd {
  float: left;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}

.minisamples dd {
  font-size: 75%;
}

h1 {
  color: #9f0e22;
  font-size: 115%;
  font-weight: bold;
}

h2 {
  color: #9f0e22;
  font-size: 108%;
  font-weight: bolder;
}

.whitelink {
  color: #ddd;
  text-decoration: none;
}

.whitelink:hover {
  color: #fff;
}

.smaller {
  font-size: 75%;
}

a {
  color: #0974c5;
  text-decoration: none;
}

a.smaller {
  white-space: nowrap;
}

a:hover {
  color: #09a8e8;
}

a:active {
  color: #9f0e22;
}

.contribs h2 {
  border-top: 1px solid rgba(0, 0, 0, .4);
  color: #0974c5;
  font-weight: bold;
  font-size: 115%;
  padding-top: 1em;
}

.crew-country {
  border-top: 1px solid rgba(0, 0, 0, .4);
  color: #9f0e22;
  display: block !important;
  font-weight: bolder;
  padding-top: .5em;
}

.crew-person-name {
  color: #095fa8;
  display: block !important;
  font-weight: bolder;
}

i.fa-camera {
  color: #777;
}

.crew-mail {
  color: #0974c5;
  text-decoration: none;
}

.crew-country-list {
  list-style: none;
  padding-left: 1em;
  text-indent: 0;
}

.crew-country-list > li {
  margin: 0 0 5px;
}

.crew-country-list > li > a > img {
  margin: 0 5px 0 0;
}

.crew-alphalist {
  list-style: none;
  padding-left: .4em;
  text-indent: 0;
}

.crew-alphalist > li {
  margin: 0 0 5px;
}

code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  white-space: nowrap;
}

.source-code {
  background-color: #f7f7f7;
  font: 14px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  padding: 16px;
}

.screen-only {
  display: block;
}

@media screen and (max-width: 480px) {
  .screen-only {
    display: none;
  }
}

.github-fork-ribbon.right-top::before {
  background-color: #333;
}

/* drop-down menu magic --------------------------------------------------- */

.menu-text {
  font-size: 13px;
  margin-top: -10px;
  text-align: center;
  width: 20px;
}

/* Dropdown Button */
.dropbtn {
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 32px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  width: 20px;
}

.menu {
  background-color: #fcfdff;
  border-bottom: 1px solid #f2f2f2;
  height: 68px;
  padding-top: 12px;
}

.menu > div {
  float: left;
  padding: 2px 0;
  text-align: center;
  width: 11%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #fcfdff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  display: none;
  margin-top: 1px;
  min-width: 160px;
  position: absolute;
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  border: 0;
  color: #000;
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding: 4px;
  text-align: left;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #09397f;
  border-color: #09397f;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #000;
}
