@charset "UTF-8";

div.container {
	width: 100%;
	margin: 0;
	border: 0px black;
	line-height: 150%;
}
div.header, div.footer {
	padding: 0.5em;
	clear: left;
}
div.left {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;
}
div.content {
	margin-left: 190px;
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
}

body,td,th {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	background-color: #333333;
}
.sshot {
	margin: auto;
	text-align: center;
}
.img_right {
	float: right;
	margin: 1em;
	border: none;
}
.bkg_socoding {
	background-color: #f1ffff;
}
.header1 {
	color: #bc0000;
	/* font-weight: bolder; */
	font-size: 20px;
}
.text_under {
	text-decoration: underline;
}
.footer {
	color: #FFFFFF;
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
}
.title {
	color: #bc0000;
	font-weight: bolder;
	font-size: 14px;
}
.title_blue {
	color: #06639d;
	font-weight: bolder;
	font-size: 14px;
}
.title_text {
	color: #000000;
	font-weight: bolder;
	font-style: italic;
}
.title_date {
	color: #666666;
	font-style: italic;
}
.sample_subtitle {
	color: #bc0000;
	font-weight: bold;
}
.sample_link_missing {
	color: #666666;
}
.sample_linkback {
	color: #000000;
	text-decoration: none;
	font-style: italic;
	font-size: 9px;
}
.black_link {
	color: #000000;
}
.blue_link {
	color: #0099FF;
	text-decoration: none;
}
.read_more {
	font-style: italic;
	font-size: 9px;
}
a:hover {
	color: #FF0000;
}
a:active {
	color: #FF0000;
}

/*
 * From xDevStudio export HTML tool...
 */
.any1-activedot 		{ color: #800080; }
.any1-comment 			{ color: #008080; }
.any1-constant 			{ color: #800080; }
.any1-escapeampersand 	{ color: #00FF00; font-weight: bold; }
.any1-function 			{ color: #808000; }
.any1-identifier 		{ color: #000000; }
.any1-number			{ color: #FF0000; }
.any1-preprocessor 		{ }
.any1-reservedword 		{ color: #800000; }
.any1-space 			{ }
.any1-string 			{ color: #0000FF; }
.any1-symbol 			{ }
.any1-variable 			{ color: #808000; }

.page_subtitle {
	color: #990000;
	font-weight: bold;
}
.text_subtitle {
	color: #0066CC;
	font-weight: bold;
	font-style: italic;
}
.text_libname {
	color: #0066CC;
	font-weight: bold;
	font-size: 120%;
}
.redbox {
	margin: 3px;
	/* padding: 3px; */
	/* background-color: #FF0000; */
	color: #bc0000;
	font-style: italic;
}
.crew_country {
	color: #BC0000;
	font-weight: bolder;
}
.crew_person_name {
	color: #1C69B7;
	font-weight: bolder;
}
.crew_mail {
	color: #0099FF;
	text-decoration: none;
}
.crew_country_link {
	color: #0066FF;
	text-decoration: none;
}
.crew_alphalist {
	list-style: none;
	padding-left: 1em;
	text-indent: 0em;
}
.crew_alphalist>li {
	margin: 0 0 5px 0;
}
.crew_alphalist>li>a {
	color: #000066;
	text-decoration: none;
}
.whitelink {
	color: #FFFFFF;
	text-decoration: none;
}
.source_code{
	font-size: 10pt;
	font-family: "Courier New", Courier, monospace;
}

.github-fork-ribbon.right-top:before {
	background-color: #222;
}

/* ------------------------------------------------------------------------ */
/* drop-down menu magic */

/* Dropdown Button */
.dropbtn {
	/*background-color: #093754;*/
	color: white;
	padding-right: 1.35em;
	/*font-size: 16px; */
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #e6eff9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #000;
	padding: 4px;
	text-decoration: none;
	display: block;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	border: 1px solid #e6eff9;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f8f8f8;
	border-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	color: #8080ff;
}
