.banner {
  display: flex;
  padding: 0 0 3px 0;
  height: 164px;
  background: #0974c5;
  background-image: radial-gradient(rgba(255,255,255,1) 0%, rgba(253,253,255,1) 30%, rgba(9,116,197,1) 80%);
  background-position: -750px -100px;
  background-size: 220% 500%;
  font-size: 14px;
}

div.container {
  border: 0;
  line-height: 150%;
  width: 738px;
  margin: auto;
  background-color: #fff;
}

div.header,
div.footer {
  clear: left;
}

div.left {
  float: left;
  width: 160px;
  margin: 0;
  padding: 1em;
}

div.content {
  background-color: #fff;
  width: 94%;
  border: 0;
  margin: auto;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  border-spacing: 0;
}

body,
td,
th {
  font: 14px 'Open Sans', sans-serif
}

body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #333;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.4);
  height: 1px;
  margin-right: .5em;
}

.why-box { background-color: #ececec; border-radius: 4px; padding: 1em; margin: auto; margin-bottom: 1em; }

.why-box>div:nth-child(1) { float: left; width: 66%; padding-right: 1em; }

.why-box>div:nth-child(2) { padding-left: 0; }

.why-box>div>ul { padding-left: 2em; text-indent: 0; }

.dl-button { background-color: #ccc; border-radius: 3px; padding: .1em .4em .1em .4em; }

.feature-box { background-color: #e6eff9; border-radius: 4px; height: 16em; padding: .1em; padding-left: .4em; margin-bottom: 1em; }

.feature-box>div { padding-top: 0; }

.feature-box>div>div {
  padding: 0 .5em;
  float: left;
  width: 14%;
  text-align: center;
}

.license-box { background-color: #e6eff9; border-radius: 4px; padding: .4em; margin-bottom: 1em; }

.sshot {
  margin: auto;
  text-align: center;
}

.feat-font {
  font-size: 340%;
  color: #444;
}

.img-right {
  float: right;
  margin: 1em;
  border: none;
}

.trophy {
  font-size: 450%;
  color: #ffd700;
  float: right;
}

.third-logo {
  font-size: 400%;
  color: #444;
  float: right;
}

.samples-list {
  font-size: 180%;
  color: #333;
}

.header {
  margin: 0;
  padding: 0;
}

.footer {
  color: #fff;
  font-size: 75%;
  background: #09397f;
  height: 5em;
  padding: .1em 1em;
}

.footer div { float: left; width: 33.3%; padding-top: 1.3em; }

.footer div:nth-child(1) { text-align: left; }

.footer div:nth-child(2) { text-align: center; }

.footer div:nth-child(3) { text-align: right; }

.crew-layout>div:nth-child(1) {
  float: left;
  text-align: center;
  width: 75%;
}

.crew-layout>div:nth-child(2) {
  float: right;
  width: 23%;
}

.crew-content>div:nth-child(1) {
  background-color: #efefef;
  border-radius: 4px;
  padding: 2px;
  padding-left: .6em;
  margin-bottom: 12px;
}

.crew-content>div:nth-child(2) {
  background-color: #e3eef7;
  border-radius: 4px;
  padding: 2px;
  padding-left: .6em;
}

.list-bubble {
  background-color: #faffd2;
  border-radius: 4px;
  padding: 15px 15px .3em 15px;
  width: 65%;
  margin: auto;
  margin-bottom: 18px;
}

.bubble-alt {
  background-color: #c00000;
  color: #fff;
  width: 96%;
}

.list-bubble div:nth-child(1) {
  float: left;
  padding-top: 15px;
  font-size: 280%;
}

.list-bubble div:nth-child(2) {
  overflow: hidden;
  padding-left: 1em;
}

.news>dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.news>dt {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}

.news dt {
  vertical-align: text-top;
}

.news>dd {
  float: left;
  width: 80%;
  padding: 0;
  margin: 0;
}

.news-full>dt {
  width: 7em;
}

.lower-box { margin: auto; }

.news-box { float: left; width: 68%; padding-right: 14px; }

.minisamples-box {
  overflow: hidden;
  background-color: #ececec;
  border-radius: 4px;
  padding: 0 6px 0 6px;
}

.minisamples>dl {
  padding: 0;
  margin: 0;
}

.minisamples>dt {
  float: left;
  padding: 0;
  margin: 0;
}

.minisamples dt a {
  font-weight: bold;
}

.minisamples>dd {
  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.minisamples dd {
  font-size: 75%;
}

h1 {
  color: #9f0e22;
  font-weight: bold;
  font-size: 115%;
}

h2 {
  color: #9f0e22;
  font-weight: bolder;
  font-size: 108%;
}

.title {
  color: #9f0e22;
  font-weight: bolder;
  font-size: 115%;
}

.title-text {
  font-weight: bolder;
}

.whitelink {
  color: #fff;
  text-decoration: none;
}

.whitelink:hover {
  color: #ccc;
}

.smaller {
  font-size: 75%;
}

a {
  color: #0974c5;
  text-decoration: none;
}

a.smaller {
  white-space: nowrap;
}

a:hover {
  color: #09a8e8;
}

a:active {
  color: #9f0e22;
}

.contribs h2 {
  color: #0974c5;
  font-weight: bold;
  font-size: 115%;
  border-top: 1px solid rgba(0,0,0,.4);
  padding-top: 1em;
}

.crew-country {
  color: #9f0e22;
  font-weight: bolder;
}

.crew-person-name {
  color: #095fa8;
  font-weight: bolder;
}

i.fa-camera {
  color: #777;
}

.crew-mail {
  color: #0974c5;
  text-decoration: none;
}

.crew-country-list {
  list-style: none;
  padding-left: 1em;
  text-indent: 0em;
}

.crew-country-list>li {
  margin: 0 0 5px 0;
}

.crew-country-list>li>a>img {
  margin: 0 5px 0 0;
}

.crew-alphalist {
  list-style: none;
  padding-left: .4em;
  text-indent: 0em;
}

.crew-alphalist>li {
  margin: 0 0 5px 0;
}

code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.source-code {
  background-color: #f7f7f7;
  padding: 16px;
  font: 14px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.screen-only {
  display: block;
}

@media screen and (max-width: 480px) {
  .screen-only {
    display: none;
  }
}

.github-fork-ribbon.right-top:before {
  background-color: #333;
}

/* ------------------------------------------------------------------------ */
/* drop-down menu magic */

.menu-text {
  font-size: 13px;
  text-align: center;
  margin-top: -10px;
  text-align: center;
  width: 20px;
}

/* Dropdown Button */
.dropbtn {
  /*background-color: #0000c0;*/
  color: #666;
  margin: 0;
  font-size: 32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 20px;
}

.menu {
  padding-top: 12px;
  height: 68px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fcfdff;
}

.menu>div {
  padding: 2px 0;
  float: left;
  width: 11%;
  text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 1px;
  background-color: #fcfdff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #000;
  padding: 4px;
  text-decoration: none;
  display: block;
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  border: 0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #fff;
  background-color: #09397f;
  border-color: #09397f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #000;
}
