---
layout: default
title: "Home"
---

<h1>Overview</h1>
<div>
  <p>Harbour is the free software implementation of a multi-platform,
  multi-threading, object-oriented, scriptable programming language, backward
  compatible with Clipper/xBase. Harbour consists of a compiler and runtime
  libraries with multiple UI and database backends, its own make system and
  a large collection of libraries and interfaces to many popular APIs.<br>
  <br>
  Harbour is a cross-platform compiler and is known to compile and run on
  Windows (32/64-bit), GNU/Linux, macOS, Android, OS/2 and MS-DOS.
  <a href="about.html" class="smaller">More features »</a>
</div>

<div class="why-box">
  <div>
    <h1>Why use it?</h1>
    <ul>
      <li>Harbour is <em>free software</em>, 100% compatible with Clipper compilers.
      <li>Harbour is proven to be <em>stable</em>, <em>robust</em> and <em>efficient</em>.
      <li>Harbour is <em>portable</em> across multiple operating systems with the same code base.
      <li>You can use it to develop either open source or commercial applications. <a href="about.html#why" class="smaller">Learn more »</a>
    </ul>
  </div>
  <div>
    <h1>Project Status:</h1>
    <p>
      <a href="https://travis-ci.org/vszakats/harbour-core"><img src="https://travis-ci.org/vszakats/harbour-core.svg?branch=master" height="20" alt="Build status"></a>
      <br>
      <strong>Latest release:</strong>&nbsp;
      3.0.0<br>
      <strong>Release date:</strong>&nbsp;
      2011-07-17<br>
      <strong>Source snapshot:</strong>&nbsp;
      <a href="https://github.com/harbour/core/archive/master.zip">ZIP</a>&nbsp;
      <a href="https://github.com/harbour/core/archive/master.tar.gz">TAR.GZ</a><br>
      <strong>Nightly binary (Win):</strong>&nbsp;
      <a href="https://sourceforge.net/projects/harbour-project/files/binaries-windows/nightly/harbour-nightly-win.7z/download">7Z</a>&nbsp;
      <a href="https://sourceforge.net/projects/harbour-project/files/binaries-windows/nightly/harbour-nightly-win.exe/download">EXE</a><br>
    </p>
    <span class="dl-button"><a href="https://sourceforge.net/projects/harbour-project/files/">More downloads »</a></span>
  </div>
</div>

<div class="feature-box">
  <h1>Features</h1>
  <div>
    <div>
      <i class="fa fa-database feature-icon" aria-hidden="true"></i>
      Native SQL, ADO, ODBC support
    </div>
    <div>
      <i class="fa fa-cogs feature-icon" aria-hidden="true"></i>
      Support for modern technologies: JSON, SSL, TCP/IP, XML, …
    </div>
    <div>
      <i class="fa fa-mobile feature-icon" aria-hidden="true"></i>
      Cross-platform: 64-bit, mobile, Mac, Linux, *BSD, ARM, …
    </div>
    <div>
      <i class="fa fa-laptop feature-icon" aria-hidden="true"></i>
      Console, GUI, Service/Daemon, Web applications
    </div>
    <div>
      <i class="fa fa-cubes feature-icon" aria-hidden="true"></i>
      Third party libs with additional features
    </div>
    <div>
      <i class="fa fa-lightbulb-o feature-icon" aria-hidden="true"></i>
      Team of experienced and capable developers
    </div>
  </div>
</div>

<div class="license-box">
  <h1>Licensing</h1>
  <p>Harbour is a free and open-source project. It can be used to make open source
  applications, free or commercial products.
  <a href="https://raw.githubusercontent.com/harbour/core/master/COPYING.txt" class="smaller">Read more »</a>
</div>

<div class="lower-box">
  <div class="news-box">
    <h1>Development News</h1>
    <hr>

    <dl class="news">
      <dt>2016-09-20
      <dd><strong>Website refresh</strong>
        <p>Continuing with the refactor, the site is now fully vector-based,
        sources have been cleaned up and further minimised, the look refreshed.
        The crew page and code examples are now automatically generated, thus
        much easier to update. Several pages have been converted to Markdown.
        Source size is now 68 kB (was 624 kB). Also added en edit button to
        each page.
        <a href="https://github.com/vszakats">@vszakats</a>

      <dt>2016-09-12
      <dd><strong>Website refactor</strong>
        <p>Website refactored to: use Jekyll, use pure HTML5, drop table based layout,
        drop JavaScript for a CSS menu, remove anything unused, fix things broken,
        use vector images instead of bitmaps where possible, deduplicate markup and
        content. This means 7.5x size reduction of page sources.<br>
        Content and design remained the same, but much easier to update now.
        <a href="https://github.com/vszakats">@vszakats</a>

      <dt>2013-03-20
      <dd><strong>Migration to Git and GitHub</strong>
        <a href="https://github.com/harbour/"><img src="images/3rd_github.svg" alt="GitHub Logo" class="img-right" width="90"></a>
        <p>The source repositories, website hosting, issue tracker, daily
        source snapshots, links and every other related facilities have
        been transferred to GitHub.

      <dt>2011-07-17
      <dd><strong>Release 3.0.0</strong>
        <p>After 1.5 years of strong development and 3600 commits, new stable version
        3.0.0 is released. Sources are available for download, prebuilt binaries will
        follow shortly.

      <dt>2010-08-02
      <dd><strong>Successful port to VxWorks RTOS</strong>
        <p>In 2010 July with few days of development effort, Harbour has been ported
        successfully to VxWorks 6.8 Real-Time Operating System (x86 CPU target for now)
        for both GNU GCC and Wind River C Compiler. Thanks to Wind River Inc. for
        making their development package available to our open source project. This
        means Harbour can now run on cars, planes, rockets and robots :) Details in the
        <a href="https://github.com/harbour/core/commit/302211f9af601ed63dff84558e075be0ed3ffe45">commit</a>.

      <dt>2010-06-03
      <dd><strong>Mailing list address changes</strong>
        <p>Thanking Phil Barnett for providing the Harbour community a great mailing
        list for so many years, today, due to server problems, we have migrated the
        mailing lists to Google Groups in agreement with Phil and Harbour admins.<br>
        Make sure to revise your subscription settings, because digest, nomail options
        and readable name were lost along the migration.

      <dt>2009-12-23
      <dd><strong>Release 2.0.0 unified Windows binaries</strong>
        <p>Harbour 2.0.0 (Revision 13372) source archives and Windows binary releases
        are available for download.

      <dt>2009-12-22
      <dd><strong>Release 2.0.0</strong>
        <p>After 16 months of intensive development the final version 2.0.0 is finally
        released. There are many highlights and news in this new release, check out
        some details and download your copy free today.

      <dt>2009-05-13
      <dd><strong>SourceForge Community Choice Awards</strong>
        <i class="fa fa-trophy large-icon trophy" aria-hidden="true"></i>
        <p>SourceForge.net announced the opening of nominations for the fourth annual
        SourceForge Community Choice Awards. Harbour is a candidate — nominate us!

      <dt>2009-02-15
      <dd><strong>New website</strong>
        <p>Released the new layout for our site. This includes details about the
        project, several examples and will soon include some tutorials.

      <dt>2008-09-17
      <dd><strong>Release 1.0.1</strong>
        <p>Many deployment fixes into General, Core and Contrib sections. All users
        should upgrade to receive the latest fixes.

      <dt>2008-08-10
      <dd><strong>Release 1.0.0</strong>
        <p>Many deployment fixes into General, Core and Contrib sections. All users
        should upgrade to receive the latest fixes.
    </dl>

    <p>See the <a href="news.html">news archive</a> for past articles.
  </div>

  <div class="minisamples-box">
    <h1>Code Examples</h1>
    <hr>
    <dl class="minisamples">
{% assign selection = "hello|foreach|parseini|tbrowse|onidle" | split: "|" %}
{% assign samples_sorted = site.samples | sort: 'slug' %}
{% for selected_sample in selection %}
{% for sample in samples_sorted %}
{% if sample.slug == selected_sample %}
      <dt><a href="samples/{{ sample.slug }}.html">{{ sample.title_long }}</a>
      <dd>{{ sample.description }}
{% endif %}
{% endfor %}
{% endfor %}
    </dl>
  </div>
</div>
