   </div>

   <div class="footer" style="background-image:url(images/footer.png); height: 32px; padding: 1px 7px 1px 7px;">
     <div style="padding-top: 7px;">
       <div style="float: left; width:33.3%; text-align: left;">
         <a href="/" class="whitelink">Copyright © 1999-2016 The Harbour Project.</a>
       </div>
       <div style="float: left; width:33.3%; text-align: center;">
         <a href="legalnotes.html" class="whitelink">Terms of Service</a> | <a href="contact.html" class="whitelink">Contact Us</a>
       </div>
       <div style="float: left; width:33.3%; text-align: right;">
         Design by <a href="mailto:vailtom@gmail.com" class="whitelink">Vailton Renato</a>
       </div>
     </div>
   </div>
