<a class="github-fork-ribbon left-top" href="https://github.com/harbour/core" title="Fork me on GitHub">Fork me on GitHub</a>

<div class="container">
  <div class="header">
    <div class="banner">
      <div style="margin-left: -5px; margin-top: 5px;">
        <img src="images/harbour-full.svg" alt="Harbour logo/title" width="287" height="164">
      </div>
      <div style="color: #fff; text-shadow: 1px 1px #000080; margin-left: 20px; margin-top: 35px;">
        <span style="font-size: 240%; display: inline-block; transform: scale(1,1.5);"><em>A 32/64-bit xBase compiler</em></span><br>
        <br>
        &check;Free software&nbsp;&nbsp;&nbsp;&nbsp;
        &check;Open-source&nbsp;&nbsp;&nbsp;&nbsp;
        &check;Cross-platform<br>
        &check;SQL, XML, TCP/IP, Multi-threads, Multi-GT<br>
        <span style="float: right; text-decoration: underline; font-style: bold; font-size: 120%;"><em>and much more!</em></span><br>
      </div>
    </div>

    <div class="menu">

      <div class="dropdown">
        <a class="dropbtn" href="index.html">
        <i class="fa fa-home" aria-hidden="true"></i><br><span class="menu_text">Home</span></a>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="about.html">
        <i class="fa fa-comment-o" aria-hidden="true"></i><br><span class="menu_text">About</span></a>
        <div class="dropdown-content">
          <a href="about.html">About Harbour</a>
          <a href="https://github.com/harbour/core/raw/master/COPYING.txt">License</a>
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="doc/index.html">
        <i class="fa fa-book" aria-hidden="true"></i><br><span class="menu_text">Docs</span></a>
        <div class="dropdown-content">
          <a href="https://github.com/harbour/core/#readme">ReadMe</a>
          <a href="https://github.com/harbour/core/raw/master/ChangeLog.txt">ChangeLog</a>
          <a href="ng/c53g01c/menu.html">Clipper 5.3</a>
          <a href="doc/index.html">Harbour</a>
          <a href="faq/index.html">FAQ (outdated)</a>
          <a href="samples.html">Samples</a>
          <!-- <a href="tutorials.html">Tutorials &amp; Articles</a> -->
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="https://sourceforge.net/projects/harbour-project/files/">
        <i class="fa fa-download" aria-hidden="true"></i><br><span class="menu_text">Downloads</span></a>
        <div class="dropdown-content">
          <a href="https://sourceforge.net/projects/harbour-project/files/">Binaries & Source</a>
          <a href="snapshot.html">Nightly builds</a>
          <!-- <a href="tools.html">External tools</a> -->
          <a href="contribs.html">Contributions Libraries</a>
          <a href="thirdparty.html">Third-party Tools and Libraries</a>
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="mailing.html">
        <i class="fa fa-wrench" aria-hidden="true"></i><br><span class="menu_text">Development</span></a>
        <div class="dropdown-content">
          <a href="mailing.html">Mailing Lists</a>
          <a href="https://github.com/harbour/core/issues">Report Issues</a>
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="news.html">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i><br><span class="menu_text">News</span></a>
        <div class="dropdown-content">
          <a href="news.html">News</a>
          <a href="changelog.html">ChangeLog</a>
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="crew.html">
        <i class="fa fa-globe" aria-hidden="true"></i><br><span class="menu_text">The Crew</span></a>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="logos.html">
        <i class="fa fa-paint-brush" aria-hidden="true"></i><br><span class="menu_text">Logos</span></a>
        <div class="dropdown-content">
          <a href="logos.html">Official Art</a>
          <a href="tshirts.html">T-Shirts</a>
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn">
        <i class="fa fa-language" aria-hidden="true"></i><br><span class="menu_text">Language</span></a>
        <div class="dropdown-content">
          <a href="index.html">English</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
