<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}Harbour &ndash; {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css'>
</head>
