<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    <div class="page-content">
      <div class="wrapper">
{% include header.html %}

<a href="samples.html" class="samples_list"><i class="fa fa-list img_right" aria-hidden="true"></i></a>
<h1 class="title">{{ page.title_long }}</h1>
<p>{{ page.description }}</p>

<div>
  <div class="sample_subtitle">Files:</div>
  <ul>
    <li><a href="https://github.com/harbour/core/blob/master/tests/{{ page.source }}" class="blue_link">tests/{{ page.source }}</a></li>
  </ul>
</div>

<div>
  <div class="sample_subtitle">Screenshot(s):</div>
  <br>
  <div class="read_more sshot">
    {{ content }}
  </div>
</div>

<div>
  <br>
  <div class="sample_subtitle">How to compile:</div>
  <div>To learn how to compile/link this example see our specific section on this
    <a href="samples.html#compile" class="blue_link">link</a>.
  </div>
</div>

{% include footer.html %}
      </div>
    </div>
  </body>
</html>
