<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include header.html %}

<a href="samples.html" class="samples-list"><i class="fa fa-list img-right" aria-hidden="true"></i></a>
<h1>{{ page.title_long }}</h1>
<p>{{ page.description }}</p>

<h2>Files:</h2>
<div>
  <ul>
    <li><a href="https://github.com/harbour/core/blob/master/tests/{{ page.name | remove:'sample_' | remove:'.html' }}.prg">tests/{{ page.name | remove:'sample_' | remove:'.html' }}.prg</a></li>
  </ul>
</div>

<h2>Screenshot(s):</h2>
<div class="smaller sshot">
  <p>
    {{ content }}
  </p>
</div>

<h2>How to compile:</h2>
<div>
  <p>
    To learn how to compile/link this example see our specific section on this
    <a href="samples.html#compile">link</a>.
  </p>
</div>

{% include footer.html %}

</html>
